* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
}

#page {
    position: relative;
    height: 100vh;
    width: 100vw;
}

canvas {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #E5E1DC;
}

#page2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#page3 {
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}